<div class="row">
    <div class="col-md-12">
        <h2>Item Details</h2>
        <hr />
        <p><strong>ID:</strong> {{item.id}}</p>
        <p><strong>Title:</strong> {{item.title}}</p>
        <p><strong>Post Date:</strong> {{item.postDate}}</p>
        <p><strong>Price:</strong> {{item.price}}</p>
        <p><strong>Category:</strong> {{item.category}}</p>
        <p><strong>Description:</strong> {{item.description}}</p>
        <p><strong>Published:</strong> {{item.published}}</p>
        <a href="/items" class="btn btn-primary">Back to Items</a>
    </div>
</div>
